<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
  <link rel="stylesheet" href="bower_components/select2/select2.css">
</head>
<body data-ng-app="myApp" ng-controller="filterController">

<input type="text" ng-model="select2" />
<select ui-select2="select2Options" ng-model="select2" data-placeholder="Pick a number">
	<optgroup data-ng-repeat="group in calculationPreview | orderBy: group.name" label="{{group.name}}">
	    <option data-ng-repeat="reportType in group.reportTypes | orderBy: 'sortOrder'"
	            value="{{reportType.name}}"
	            data-group="{{group.name}}">
	        {{reportType.name}}
	    </option>
	</optgroup>
</select>

<!-- Script -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/select2/select2.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-select2/src/select2.js"></script>

<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/controller.js"></script>
<script type="text/javascript" src="app/filter.js"></script>

</body>
</html>